<div >
    <button type="button" id="vpn-activate-{{ instance.pk }}"
            class="btn btn-lg btn-vpn btn-{% if instance.activated %}success{% else %}default{% endif %}"
            data-loading-text="processing...">activate</button>
</div>
<script>
    var updateIpInfo = function () {
        $.ajax("{% url "vpn-control-status" pk=instance.pk %}", {
            success: function (data) {
                $("#vpn-ip").html(data.current_ip)
            },
            error: function (data) {
                console.log(data)
            }
        });
    };
    var button = $("#vpn-activate-{{ instance.pk }}");
    {% if instance.activated %}
        button.addClass("disabled");
        updateIpInfo();
    {% else %}
        button.click(function (event) {
            event.preventDefault();
            var $this = $(this);
            $this.button('loading');
            $.ajax("{% url "vpn-control-activate" pk=instance.pk %}", {
                success: function (data) {
                    console.log(data);
                    $(".btn-vpn").removeClass("btn-success")
                                 .removeClass("disabled")
                                 .addClass("btn-default")
                                 .text("activate");
                    $this.removeClass("btn-default")
                         .addClass("btn-success")
                         .addClass("disabled");
                    $this.text(data.status);
                    updateIpInfo();
                },
                error: function (data) {
                    $this.button('reset');
                    console.log(data)
                }
            });
        });
    {% endif %}
</script>