<div>
    <button type="button" id="vpn-activate-{{ instance.pk }}" class="btn btn-default">activate</button>
</div>
<script>
    var updateIpInfo = function () {
        $.ajax("{% url "vpn-control-status" pk=instance.pk %}", {
            success: function (data) {
                $("#vpn-ip").html(data.current_ip)
            },
            error: function (data) {
                console.log(data)
            }
        });
    };
    var button = $("#vpn-activate-{{ instance.pk }}");
    {% if instance.activated %}
        button.attr("disabled", 'disabled');
        updateIpInfo();
    {% else %}
        button.click(function (event) {
            event.preventDefault();

            $.ajax("{% url "vpn-control-activate" pk=instance.pk %}", {
                success: function (data) {
                    console.log(data);
                    updateIpInfo();
                },
                error: function (data) {
                    console.log(data)
                }
            });
        });
    {% endif %}
</script>