<button id="vpn-activate-{{ instance.pk }}">activate</button>
<script>
    var button = $("#vpn-activate-{{ instance.pk }}");
    {% if instance.activated %}
        button.attr("disabled", 'disabled');
    {% else %}
    button.click(function (event) {
        event.preventDefault();
        $.ajax("{% url "vpn-control-activate" pk=instance.pk %}", {
            success: function (data) {
                console.log(data)
            },
            error: function (data) {
                console.log(data)
            }
        })
    });
    {% endif %}
</script>